@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    background: linear-gradient(#B3D5F2, #022859);
    height: max-content;
    font-family: "Roboto Condensed", sans-serif;
}

li {
    list-style-type: none;
  }

.container{
    display: flex;
    flex-wrap: nowrap;
    font-size: 26px;
    padding: 2%;
    margin: 5% 5% 1% 5%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.now{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    font-size: 26px;
    width: 59%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    height: 500px;
    
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    font-size: 19px;
    width: 30%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    height: 500px;
}

 .mid{
    display: flex;
    flex-wrap: nowrap;
 }

 .now h1{
    text-align: center;
    margin: 2%;
 }


 .info h1{
    padding: 5%;
    background-color: #020659; 
    margin: 0px;
    border-radius: 14px 14px 0px 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
 }

 .imgsol {
    width: 250px;
    margin-left: 35%;
 }

 .card{
    display: flex;
    justify-content: space-between;
    margin: 1% 5% 0 5%;
 }

 .footer {
   display: flex;
   height: 150px;
   margin-top: 1%;
   background-color: #F28705;
   align-items: center;
 }

 .footer .logos{
   display: flex;
   justify-content: space-around ;
 }

