
.footer{
    background-color: #DCE6DC;
    margin-top: 1%;
    
}

.logos{
    display: flex;
    height: 70px;
    justify-content: space-around;
    padding: 1%;
}

.email{
    text-align: center;
    color: black;
    
    padding: 1.5%;
    
}
