
.footer{
    background-color: #83D95B;
    margin-top: 1%;
    
}

.logos{
    display: flex;
    height: 70px;
    justify-content: space-around;
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.email{
    text-align: center;
    color: black;
    font-weight: bolder;
    padding: 1.5%;
    
}
